@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden; */
    display: flex;
    height: 100vh;
    background-color: #553694;
}

.banner {
    background: url('img/uhMain.png') no-repeat center center/cover;
}

.banner .title {
    margin-bottom: 1rem;
}

.banner .lead {
    font-size: 3vw;
    color: #f4f4f4;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.fourty {
    margin-bottom: 4rem;
}

.date {
    padding: 0 1rem;
}

.cta {
    width: 50%;
}

.airing {
    width: 25%;
}

.copyright {
    color: #f4f4f4;
    font-size: .5rem;
    letter-spacing: 1px;
    margin-top: 1rem;
}

/* LANDSCAPE FOR MOBILE */
@media (max-height: 500px) {
    .col-xl-8 .title {
        /* border: 1px solid #000; */
        width: 60%;
    }

    .banner .lead p {
        font-size: 2vw;
        /* letter-spacing: .7px; */
    }

    .col-sm-5 .fourty {
        /* border: 1px solid #000; */
        width: 80%;
        margin: 0;
    }

    .col-lg-6 {
        /* border: 1px solid #000; */
        width: 75%;
    }

    .col-md-12 .date {
        width: 100%;
    }

    .col-md-12 .cta {
        width: 50%;
    }

    .col-12 p {
        font-size: .5rem;
        padding: 0;
        margin: 0;
        /* border: 1px solid #000; */
    }








    /* .date {
        padding: 0 3rem;

    }

    .cta {
        width: 50%;
    }

    .airing {
        width: 25%;
    }

    .copyright {
        font-size: .7rem;
    } */
}


/* ======== 576 =============== */
@media (min-width: 576px) {
    .banner {
        height: 100vh;
    }

    .banner .lead p {
        /* font-size: 1.3rem; */
        padding: 0 1rem;
    }

    .fourty {
        width: 70%;
        margin-bottom: 2rem;
    }

    .date {
        padding: 0 3rem;

    }

    .cta {
        width: 50%;
    }

    .airing {
        width: 25%;
    }

    .copyright {
        font-size: .7rem;
    }
}

/* ======== 768 =============== */


@media (min-width: 768px) {

    .banner .lead {
        /* font-size: 1.9rem; */
        color: #f4f4f4;
        padding: 2rem;

    }

    .fourty {
        width: 50%;
    }

    .date {
        width: 75%;
    }

    .cta {
        width: 40%;
    }

    .airing {
        width: 20%;
    }


}

@media (min-width: 992px) {

    .banner {
        height: 100vh;
    }

    .banner .lead {
        font-size: 2vw;
        color: #f4f4f4;
        /* padding: 2rem 3rem; */
        margin-top: -2rem;

    }

    .fourty {
        width: 80%;
        float: right;
        margin: 0;
    }

    .date {
        width: 100%;
    }

    .cta {
        width: 50%;
    }

    .airing {
        width: 30%;
    }

    .copyright {
        margin-top: 1rem;
    }


}