@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.banner {
    height: 100vh;
    background: url('img/uhMain.png') no-repeat center center/cover;
}

.fourty {
    margin-bottom: 2rem;
}

/* .right-column {
    flex-direction: column;
} */

.date {
    padding: 0 1rem;
}

.cta {
    width: 50%;
}

.airing {
    width: 25%;
}

.banner .lead {
    font-size: 1rem;
    color: #f4f4f4;
    padding: 0 1rem;
    /* letter-spacing: 3px; */
}

.copyright {
    color: #f4f4f4;
    font-size: .5rem;
    letter-spacing: 1px;
    margin-top: 1rem;
}


/* ======== 576 =============== */
@media (min-width: 576px) {
    .banner {
        height: 100vh;
    }

    .banner .lead {
        font-size: 1.3rem;
        padding: 0 1rem;

    }

    .fourty {
        width: 70%;
        margin-bottom: 2rem;
    }

    .date {
        padding: 0 3rem;

    }

    .cta {
        width: 50%;
    }

    .airing {
        width: 25%;
    }

    .copyright {
        font-size: .7rem;
    }
}

/* ======== 768 =============== */


@media (min-width: 768px) {

    .banner .lead {
        font-size: 1.9rem;
        color: #f4f4f4;
        padding: 2rem 0;

    }

    .fourty {
        width: 50%;
    }

    .date {
        width: 75%;
    }

    .cta {
        width: 40%;
    }

    .airing {
        width: 20%;
    }


}